.ali{
    margin-top: 140px;
.home_text23{
font-family: Fraunces 9pt;
font-weight: 900;
font-size: 24px;
color: #83888F;
margin-left: 80px;
margin-bottom: 80px;
}
.tre1{
width: 30px;
height: 30px;
border: 1px solid #0E8784;
margin-left: 80px;
border-radius: 50%;
}
.tre3{
width: 1249px;
border: 1px solid #FDD6BA;
margin-top: -15px;
margin-left: 98px;
}
.tre4{
    width: 30px;
    height: 30px;
    border: 1px solid #0E8784;
    margin-left: 678px;
    border-radius: 50%;
    margin-top: -15px;
    }
    .tre2{
        width: 30px;
        height: 30px;
        border: 1px solid #0E8784;
        margin-left: 1312px;
        border-radius: 50%;
        margin-top: -30px;
        }
}
